nav{
    background-color: lightblue;
    padding: 10px;
}
a{
    text-decoration: none;
    padding:30px;
    margin-left: 160px;
    font-weight: 50px;
}
.class1{
    background-color: blue;
 
}
h1{
    margin-left: 120px;
    margin-top:-70px;
}